*{
    text-align: center;
    align-content: center;
    box-sizing: border-box;
  }

  footer {
    background-color:rgb(226,243,255);
    color: white;
    position:relative;
    height: 200px; 
    
  }

  .footer .footer-content{
    height: 160px;
    display: flex;
    color:black;
    
  }
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 20 px;
  }

  .footer .footer-bottom {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;

  }

  .page-wrapper {
    min-height: 100%;
  }


  body{
    background: rgba(169, 206, 223, 0.582);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

  }
  h1{
   font-weight:lighter;
   font-size: 3.6rem;
   text-align: center;
   text-shadow: 3px 3px 3px #5e5d5d;
  }
   
  h2{
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.7;
  }
  h3{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
  }

  p{
    line-height: 1.6rem;
    text-align: left;
  }

  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
  } 

  .vertical-menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 30;
    padding-top: 20;
    padding-bottom: 20;
    text-align: center;
    align-content: center;
    font-size: 25;
    text-transform: uppercase;
  }

  a{
    text-decoration: unset;
    padding-right: 40px;
    padding-left: 40px;
  }

  .vertical-menu a:hover {
      background-color: rgb(226, 243, 255);
      text-decoration: none;
      text-decoration-line: none;
  }

  .vertical-menu a.active {
      background-color: #d4f4ff;
      text-decoration: none;
      text-decoration-line: none;
  }

  .resume-box1 {
      position: relative;
      box-align: left;
      border: 2px #86BBBD;
      min-height: 100%;
  }
   
    /* CSS for Portfoliosiden*/
  .box{
    background-color: rgb(226, 243, 255);
    max-width: 100ch;
    margin-top: 1rem;
    margin-bottom: 1 rem;
    align-self: center;
    padding-top: 0;
    padding-bottom: 5%;
    padding-right: 2em;
    padding-left: 2em;
    box-shadow: 3px 4px 20px #363636;
    margin: auto;
  }

  img{
    width: min(100%, 40rem);
    display: inline-block;
    padding-bottom: 5%;
  }

  .box  span{
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
  }

  

 /* CSS for forsiden*/
    header {
    background-color:rgb(226, 243, 255);
    outline-color: white;
    outline-style:solid;
    outline-width: thick;
    text-align-last: center;
    max-width: 120ch;
    height: 950px;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
    }

      .headingFrontpage{
        letter-spacing: 1em;
        font-weight: lighter;
        text-transform: uppercase;
      }

      .subheadingFrontpage{
        letter-spacing: 0.1em;
        font-stretch: expanded;
        font-weight: lighter;
        padding-bottom: 40;
      }

    article{
      background-image: url(images/depositphotos_113736410-stock-photo-architectural-drawings-with-floor-plan.jpg);
      background-size:cover;
      outline-color: white;
      outline-style:solid;
      outline-width: thick;
      max-width: 120ch;
      padding-top: 2em;
      padding-bottom: 5%;
      margin-top: 30;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
    }

      .articleText{
        background-color: #ffffffda;
        max-width: 80ch;
        line-height: 1.5;
        text-align-last: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
        padding-bottom: 5%;
        padding-right: 2em;
        padding-left: 2em;
        outline: rgb(0, 0, 0);
        outline-width: medium;
        outline-style: solid;
    }

      section{
      line-height: 2.5px;
      background-image: url(images/IMG_1946.jpg);
      background-size: cover;
      outline-color: white;
      outline-style:solid;
      outline-width: thick;
      padding-top: 50px;
      padding-bottom: 5%;
      max-width: 90ch;
      max-height: 100ch;
      margin-top: 30;
      margin-left: auto;
      margin-right: auto;
      text-align-last: center;
      }
      
      ul{
        list-style-type: circle;
        line-height: 3;
        list-style-position: inside;
        padding: 20px; 
        margin: 0;  
      }
      
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}







